In [1]:
# collection of elements with in  ()
var = ()
print var
print type(var)

()
<type 'tuple'>

In [2]:
# collection of elements with in  ()
# tuple --->> hetrogenious datatype
var = (12,4.2,5+6j,True,None,[1,2,3],"soc")
print var
print type(var)

(12, 4.2, (5+6j), True, None, [1, 2, 3], 'soc')
<type 'tuple'>

In [3]:
# nested tuple 
var= ((1,2,3) ,  (7,4,6))
print var
print type(var)

((1, 2, 3), (7, 4, 6))
<type 'tuple'>

In [4]:
# How to access the tuple elements
'''
--->> Indexing [index] --->> Single element from tuple

--->> Slicing [start : stop ]-->>Multiple elements from tuple as a tuple  --->> continious 

--->> Dicing [start : stop :  step ] -->>Multiple elements from tuple as a tuple -->> step wise
'''

# indexing 
# positive indexing

var = (12 , 56  , 34  ,90 )
print var[0]
print var[1]
print var[2]
print var[3]
print "****************"
# Negative indexing
print var[-1]
print var[-2]
print var[-3]
print var[-4]

12
56
34
90
****************
90
34
56
12

In [7]:
# --->> Slicing [start : stop ]-->>Multiple elements from tuple as a tuple  --->> continious 
# start ---> 0
# stop  ---> len
var = (7,3,90,23,8,17,34,90,45)
print var[2:7]
print var[:7]
print var[0:7]
print var[2:]
print var[2:9]

(90, 23, 8, 17, 34)
(7, 3, 90, 23, 8, 17, 34)
(7, 3, 90, 23, 8, 17, 34)
(90, 23, 8, 17, 34, 90, 45)
(90, 23, 8, 17, 34, 90, 45)

In [9]:
var = (7,3,90,23,8,17,34,90,45)
print var[-4:]

(17, 34, 90, 45)

In [15]:
#--->> Dicing [start : stop :  step ] -->>Multiple elements from tuple as a tuple -->> step wise
# start ---> 0
# stop ----> len
# step --->> 1
var = (7,3,90,23,8,17,34,90,45)
print var[1:9:2]# 1,3,5,7
print var[:9:3]#0,3,6
print var[0:9:2]# 0,2,4,6,8
print var[2:len(var):3]# 2,5,8
print var[2:6:1]
print var[2:6:]

(3, 23, 17, 90)
(7, 23, 34)
(7, 90, 8, 34, 45)
(90, 17, 45)
(90, 23, 8, 17)
(90, 23, 8, 17)

In [16]:
#nested indexing 
var = ((1,2,3), (6,4,7))
print var[0]
print var[0][1]

(1, 2, 3)
2

In [18]:
#nested indexing 
var = ((1,2,3), (6,4,7))
print var[0]
print var[0][1]
print var[1][0:2]
print var[1][0::2]

(1, 2, 3)
2
(6, 4)
(6, 7)

In [19]:
var= (12,6,3,8)
print len(var)
print max(var)
print min(var)
print sum(var)

4
12
3
29

In [21]:
# tuple is immutable datatype
var = (1,2,3,4)
print var
print var[2]
var[2] = 30
print var

(1, 2, 3, 4)
3

TypeError: 'tuple' object does not support item assignment

In [22]:
var = (1,2,4)
var = list(var)
var.append(100)
var =tuple(var)
print var

(1, 2, 4, 100)